

.App {
	margin:0;
	padding:0;
}
body {
	max-width:1920px;
	margin:0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
#menu_content {
	display:grid;
  grid-template-columns:repeat(6, 2fr);
	grid-template-rows:repeat(3, minmax(150px, auto));
}
.menu_one {
  grid-column: 1/7;
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),url('../images/food.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 100%;
	height: 60vh;
}
.dinner_one {
  grid-column: 1/7;
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),url('../images/shrimp.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 100%;
	height: 60vh;

}
.contact_one {
  grid-column: 1/7;
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),url('../images/contact_background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 100%;
	height: 60vh;

}
#demo {
	display: none;
}
.menu_one nav a {
	display: none;
}
.dinner_one nav a {
	display: none;
}
.contact_one nav a {
	display: none;
}
.menu-item {
	color:#fff;
	text-decoration: none;
	margin-top: .5rem;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 35px;
  height: 20px;
  right: 30px;
  top: 30px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
	background: #fff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #171717;
  padding: 2.5em 1.5em 0;
	font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
	overflow-y: hidden !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #171717;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
#menu-intro {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
}
#menu-intro h1 {
	margin: 0;
	text-align: center;
	font-size: 3rem;
	color:#fff;
	font-family: 'Rancho', cursive;

}
#menu-intro p {
	margin: 0;
	text-align: center;
	font-size: 1rem;
  font-family: 'Raleway', sans-serif;
	color: #fff;
}
.menu_two {
	grid-column: 1/7;
	padding-top: 50px;
	padding-bottom: 50px;

}
.contact_container {
	width: 90%;
	margin: 0 auto;
}
.contact_container h2 {
	margin-bottom: 15px;
	text-align: center;

}
.menu-container-outer {
	width: 95%;
	margin: 0 auto;
}
.menu-container-outer h2 {
	font-size: 1.5rem;
}
.menu-container-outer p {
	font-size: 1rem;
}
.menu-container-outer h2, p {
	text-align: center;

}
.restaurant-hours {
	width: 95%;
	margin-bottom: 50px;
	line-height: 1.5rem;
}
.menu-container-inner {
	width: 100%;
	position: relative;
	float: left;

}
.line {
	position: absolute;
	top: 25px;
	left: 2.5px;
	width: 100%;
	height: 10px;
	border-top: 1px solid #af7d40;
	z-index: -1;
}

.menu-category {
	width: 40%;
	margin: 10px auto;
	text-align: center;
	font-size: 1rem;
	padding: 5px;
	background: #af7d40;
	color: #fff;

}
table {
	width: 100%;
	border-spacing: 10px;
	text-align: center;

}
th, td {
	padding: 15px;


}
.description {
	font-size: .9rem;
	line-height: 1.8rem;
}
.price {
	font-size: .8rem;
	font-weight: bold;
	font-style: italic;
}
@media screen and (min-width: 768px){
	#menu-intro {
		width: 66.666%;
	}
	#menu-intro h1 {
		font-size: 4rem;
	}
	#menu-intro p {
		font-size: 1.3rem;
	}
	.menu-category {
	width: 25%;

 	}
 .menu-container-outer {
	width: 66.666%;
	margin: 0 auto;
	}
	.small {
		font-size: 1rem;
	}
	.contact_container {
		width: 66.666%;
		margin: 0 auto;
	}
	.contact_container h2 {
		margin-bottom: 15px;
		margin-left: -3px;
		text-align: left;

	}

}
@media screen and (min-width: 1024px){
	.bm-burger-button, .bm-burger-bars {
		display: none;

	}
	.menu_one nav {
		padding-top: 25px;
		padding-bottom: 10px;
		text-align: center;
		background-color: #171717;

	}
	.menu_one nav a {
		display: unset;
		text-decoration: none;
		color: #fff;
		margin-left: 25px;
		font-size: 1.2rem;
	}
	.menu_one nav a.urhere{
		border-bottom: 1px solid #fff;
	}
	.menu_one nav a.urhere:hover{
		border-bottom: 1px solid #f79e02;
	}
	.menu_one nav a:hover{
		color: #f79e02;

	}
	#demo {
		display: unset;
		position: absolute;
		top: 85px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
		text-align: left;
		padding: 10px;
	  font-family: 'Raleway', sans-serif;
		background: #fff;
		color: #000;
		border-radius: 5px;
		z-index: 100;
	}
	.dinner_one nav {
		padding-top: 25px;
		padding-bottom: 10px;
		text-align: center;
		background-color: #171717;

	}
	.dinner_one nav a {
		display: unset;
		text-decoration: none;
		color: #fff;
		margin-left: 25px;
		font-size: 1.2rem;
	}
	.dinner_one nav a.urhere{
		border-bottom: 1px solid #fff;
	}
	.dinner_one nav a.urhere:hover{
		border-bottom: 1px solid #f79e02;
	}
	.dinner_one nav a:hover{
		color: #f79e02;

	}
	.contact_one nav {
		padding-top: 25px;
		padding-bottom: 10px;
		text-align: center;
		background-color: #171717;

	}
	.contact_one nav a {
		display: unset;
		text-decoration: none;
		color: #fff;
		margin-left: 25px;
		font-size: 1.2rem;
	}
	.contact_one nav a.urhere{
		border-bottom: 1px solid #fff;
	}
	.contact_one nav a.urhere:hover{
		border-bottom: 1px solid #f79e02;
	}
	.contact_one nav a:hover{
		color: #f79e02;

	}

}
@media screen and (min-width: 1800px){
	.menu-container-outer {
	width: 66.666%;
	margin: 0 auto;
}
.menu-container-outer h2, p {
	margin-left: 10px;
	text-align: left;
}
.restaurant-hours {
	width: 45%;
	margin-bottom: 50px;
	line-height: 1.5rem;
}

.menu-category {
	width: 15%;
	margin: 10px auto;
	text-align: center;
	font-size: 1rem;
	padding: 5px;
	background: #af7d40;
	color: #fff;

}
table {
	width: 50%;
	float: left;
	border-spacing: 10px;
	text-align: left;

}
th {
	text-align: left;
}
th, td {
	padding: 5px;


}
.description {
	font-size: .9rem;
	line-height: 1.8rem;
}
.price {
	font-size: .8rem;
	font-weight: bold;
	font-style: italic;
}
}
